{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}The Red Fox - Login{% endblock %}

{% block app_content %}
    <body style="background-color: black">
{{ super() }}


    <div class="row" >
    <div class="col-md-4">
</div>
<div class="col-md-4" style="background-color: gray">
    <h1 style="text-align:center;">Login</h1>
        {{ wtf.quick_form(form) }}
    <br>
    <p>Forgot your password? <a href="">Click here to reset it</a>.</p>
    </div>

    <div class="col-md-4">
</div>
</div>
<body>

{% endblock %}